<!doctype html>
  [%- BLOCK block.need_res -%][%- END -%]
  [%- BLOCK block.head -%]
  <head>
    [%# FIXME include via need_res %]
    <title>Add Bookmark</title>
<!-- need res -->
[% dw.need_res( "stc/simple-form.css" ) %]
[%- dw.need_res( { group => "fragment" }, "stc/simple-form.css", "stc/jquery.postoptions.css", "js/jquery.postoptions.js" ) -%]
<!-- done need res -->

    [%# FIXME include via need_res %]
    <link rel="stylesheet" type="text/css" href="/stc/simple-form.css" />
    <link rel="stylesheet" type="text/css" href="/stc/bookmarks.css" />
    [%#

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.ui.dialog.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.ui.menu.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.ui.autocomplete.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stc/jquery/jquery.ui.core.css"/>
    <link rel="stylesheet" type="text/css" href="/stc/jquery/jquery.ui.theme.smoothness.css" />
    %]
    [%# FIXME these work. ours don't seem to. %]
 <link rel="stylesheet" href="/stc/jquery/jquery-ui-smoothness-1.10.2.css" />
    <script type="text/javascript" src="/js/jquery/jquery-1.8.3.js"></script>
    <script src="/js/jquery/jquery-ui-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.bookmark.add.js"></script>
  </head>
  [%- END -%]
  
  [%- BLOCK block.body -%]
  <body class="bookmarklet">
    [%# FIXME get via properties %]
    <h1>New Bookmark</h1>
  <div id="content">
  [% dw.scoped_include( "bookmarks/add.tt" ); %]
  </div>
  </body>
  [%- END -%]
<html>
    [% PROCESS block.head %]
    [% PROCESS block.body %]
</html>
