div#content {
    overflow: auto;
}

/*div {
    overflow: auto;
}*/

ol.dw_bmark_list {
    list-style-type: none;
    display: block;
    float: left;
    width: 95%;
}
ol.dw_bmark_tag_list {
    list-style-type: none;
}

article.bmark {
    margin: 2em 1em 1em 1em;
    background: #ddd;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1em 1em 1em 1em;
}

section#bmark_bookmarks {
    width: 65%;
    float: left;
    overflow: auto;
    display: block;
    clear: left;
}
section#bmark_tags {
    width: 30%;
    float: right;
    overflow: auto;
    display: block;
    clear: right;
}

nav.bmark_nav {
    width: 95%;
    font-weight: bold;
    clear: both;
    overflow: auto;
    float: left;
    height: auto;
    background: none;
}

nav.bmark_nav ul {
    overflow: auto;
    list-style: none;
    float: left;
}
nav.bmark_nav ul li {
    overflow: auto;
    float: left;
    margin-right: 2em;
    link-style: none;
    vertical-align: middle;
    display: inline;
    line-height: 3em;
}

nav.bmark_nav ul li a {
    text-decoration: none;
}

div.bmark_title {
    font-weight: bold;
    font-size: larger;
}

div.bmark_url {
    opacity: 0.75;
}

div.bmark_tags {
    color: red;
}

/* --- entry form --- */

.bookmarklet {
    font: 12px Verdana,Helvetica,Arial,sans-serif;
}
.bmark-form {
    border: 1px solid #000;
    border-radius: 10px;
    overflow: auto;
    width: 580px;
}

.bmark-form fieldset ol {
    float: left;
    list-style: none;
    padding: 1em 0 0 0;
    margin: 0;
    width: 100%;
}

.ui-autocomplete-loading {
    background: white url('/img/ajax-loader.gif') right center no-repeat;
}

#recommendedtags {
    clear: both;
    padding: 0.2em 0.8em 0.2em 0.2em;
    margin-left: 12em;
}

div.bmark_edit_controller {
    float: left;
    clear: both;
    display: block:
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1em 1em 1em 1em;
    width: 90%;
    overflow: auto;
    background: #eee;
}

.bmark_edit_controller button {
    opacity: 1.0;
    background:none!important;
    border:none; 
    padding:0!important;
    /*border is optional
    border-bottom:1px solid #444; */
    overflow: auto;
    link-style: none;
    vertical-align: middle;
    display: inline;
    text-decoration: none;
    color: #C1272D;
    font: inherit;
    font-weight: bold;
}
.bmark_edit_controller button:focus, button:hover {
    /* Remove all decorations to look like normal text */
    background: none;
    border: none;
    font: inherit;
    display: inline;
    margin: 0em;
    padding: 0em;
    outline: none;
    outline-offset: 0em;
    /* Additional styles to look like a link */
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}
/* Remove extra space inside buttons in Firefox */
button::-moz-focus-inner {
    border: none;
    padding: 0em;
}

.bmark_edit_controller ul {
    overflow: auto;
    list-style: none;
    float: left;
}
.bmark_edit_controller ul li {
    overflow: auto;
    float: left;
    margin-right: 2em;
    link-style: none;
    vertical-align: middle;
    display: inline;
    line-height: 3em;
}

.bmark_edit_controller ul li a {
    text-decoration: none;
}

.bmark_pager {
    float: left;
    clear: both;
    display: block:
    overflow: auto;
}


